.iimg {
    width: 130px;
    height: 120px;
    background-position: center;
    background-size: cover;
}

.data3 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.data4 {
    display: flex;
    flex-wrap: wrap;
    width: 434px;
    background-color: #282828;
    padding: 0 30px;
}

.h33-2 {
    color: white;
    font-size: 18px;
    margin-left: 5px;

    margin-top: 14px;
}

.p-10 {
    font-size: 15px;
    color: red;
    margin-left: 5px;
}